* {
	box-sizing: border-box;
}
body {
	padding-top: 10px;
}
.calculator {
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	border-radius: 10px;
	height: 490px;
	width: 325px;
	background-color: #333333;
	padding: 10px;
}
.stack {
	margin-top: 3px;
	margin-bottom: 3px;
	position: relative;
}
.panel {
	text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	display: block;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	border: 0;
	background: black;
	color: #e81010;
	padding: 10px;
	font-size: 18px;
	outline: none;
	overflow: hidden;
	letter-spacing: 3px;
	border-radius: 5px;
	animation: 1.5s infinite changeTextShadow;
	margin: auto;
	width: 300px;
}
.glowingDiv {
	position: absolute;
	width: 100%;
	height: 5%;
	background-color: red;
	opacity: 0.1;
	box-shadow: 5px 5px 5px red, 5px 5px 5px red, 5px 5px 5px red;
	bottom: 6px;
	animation: 3s infinite changeBoxShadow;
}

.funcRow {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 3px;
}

.btnDiv {
	flex: 1;
}

#enterBtnDiv {
	flex: 2;
	position: relative;
}

.funcBtn {
	width: 25px;
	height: 25px;
	margin-top: 3px;
}

#enterBtn {
	width: 95px;
	height: 25px;
	position: absolute;
	bottom: 0;
	left: 15px;
}

.grayBtn {
	background-color: gray;
}

.blueBtn {
	background-color: darkcyan;
	color: white;
}

.blackBtn {
	background-color: black;
}

.funcBtnLable {
	text-align: center;
	color: white;
	font-size: 14px;
}

.arithmeticRow {
	display: flex;
	text-align: center;
	margin-top: 15px;
}

.operatorBtnDiv {
	flex: 1;
}

.numBtnDiv {
	flex: 1.5;
}

.operatorBtn {
	width: 30px;
	height: 25px;
}

.numBtn {
	width: 47px;
	height: 25px;
}

#main {
	display: flex;
	margin: auto;
	width: 650px;
}

.programDiv,
.calculator {
	flex: 1;
}

.programDiv {
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	border-radius: 10px;
	height: 490px;
	width: 325px;
	background-color: #333333;
	padding: 10px;
	margin-left: 10px;
	border-radius: 10px;
	position: relative;
	text-align: center;
}

textarea#styled {
	margin: auto;
	width: 300px;
	height: 420px;
	text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	display: block;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	border: 0;
	background: black;
	color: #e81010;
	padding: 10px;
	font-size: 18px;
	outline: none;
	overflow: hidden;
	letter-spacing: 3px;
	border-radius: 4px;
	resize: none;
	animation: 2s infinite changeTextShadow;
}
@keyframes changeBoxShadow {
	0% {
		background-color: red;
		box-shadow: 5px 5px 5px red, 5px 5px 5px red, 5px 5px 5px red;
	}
	50% {
		background-color: darkred;
		box-shadow: 5px 5px 5px darkred, 5px 5px 5px darkred, 5px 5px 5px darkred;
	}
	100% {
		background-color: red;
		box-shadow: 5px 5px 5px red, 5px 5px 5px red, 5px 5px 5px red;
	}
}
@keyframes changeTextShadow {
	0% {
		color: #e81010;
		text-shadow: 1px 1px 20px red, 0 0 20px red, 0 0 20px red;
	}
	50% {
		color: #e80000;
		text-shadow: 1px 1px 20px darkred, 0 0 20px darkred, 0 0 20px darkred;
	}
	100% {
		color: #e81010;
		text-shadow: 1px 1px 20px red, 0 0 20px red, 0 0 20px red;
	}
}

#programBtn {
	width: 150px;
	height: 40px;
	position: absolute;
	bottom: 10px;
}
.errorMessage {
	text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	font-family: "Lucida Console", Monaco, monospace;
	position: absolute;
	bottom: 25px;
	left: 15px;
	color: sandybrown;
}

.button {
	color: white;
	padding: 10px;
	border-radius: 4px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

button:hover {
	box-shadow: 0 0 20px darkcyan;
	background-color: #bd776f;
}

button {
	cursor: pointer;
}

label,
button {
	font-family: "Times New Roman", Times, serif;
}
