body {
	padding-top: 20px;
}
.calculator {
	box-shadow: 0 4px 8px 0 gray, 0 6px 20px 0 gray;
	border-radius: 10px;
	width: 320px;
	background-color: #333333;
	padding: 10px;
}
.stack {
	margin-top: 5px;
	margin-bottom: 5px;
	position: relative;
}
.panel {
	text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	display: block;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	border: 0;
	background: black;
	color: #e81010;
	padding: 10px;
	font-size: 20px;
	outline: none;
	overflow: hidden;
	letter-spacing: 4px;
	border-radius: 5px;
}
.glowingDiv {
	position: absolute;
	width: 100%;
	height: 5%;
	background-color: red;
	opacity: 0.1;
	box-shadow: 5px 5px 5px red, 5px 5px 5px red, 5px 5px 5px red;
	bottom: 6px;
}

.funcRow {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 5px;
}

.btnDiv {
	flex: 1;
}

#enterBtnDiv {
	flex: 2;
	position: relative;
}

.funcBtn {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}

#enterBtn {
	width: 100px;
	height: 30px;
	position: absolute;
	bottom: 0;
	left: 15px;
}

.grayBtn {
	background-color: gray;
}

.blueBtn {
	background-color: darkcyan;
	color: white;
}

.blackBtn {
	background-color: black;
}

.funcBtnLable {
	text-align: center;
	color: white;
	font-size: 16px;
}

.arithmeticRow {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 25px;
}

.operatorBtnDiv {
	flex: 1;
}

.numBtnDiv {
	flex: 1.5;
}

.operatorBtn {
	width: 35px;
	height: 30px;
}

.numBtn {
	width: 50px;
	height: 30px;
}

#main {
	display: flex;
	margin: auto;
	width: 700px;
}

.programDiv,
.calculator {
	flex: 1;
}

.programDiv {
	background-color: red;
	margin-left: 10px;
	border-radius: 10px;
	background-color: #333333;
	padding: 10px;
	position: relative;
	text-align: center;
}

textarea#styled {
	width: 300px;
	height: 470px;
	text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	display: block;
	font-family: "Lucida Console", Monaco, monospace;
	text-align: left;
	border: 0;
	background: black;
	color: #e81010;
	padding: 10px;
	font-size: 20px;
	outline: none;
	overflow: hidden;
	letter-spacing: 4px;
	border-radius: 4px;
	resize: none;
}

#programBtn {
	width: 150px;
	height: 40px;
	position: absolute;
	bottom: 10px;
}
.errorMessage {
	text-shadow: 1px 1px 2px red, 0 0 25px red, 0 0 5px red;
	font-family: "Lucida Console", Monaco, monospace;
	position: absolute;
	bottom: 35px;
	left: 10px;
	color: lightblue;
}

.button {
	color: white;
	padding: 10px;
	border-radius: 4px;
	font-weight: normal;
	text-transform: uppercase;
	transition: all 0.2s ease-in-out;
}

button:hover {
	box-shadow: 0 0 20px darkcyan;
	background-color: #bd776f;
}

button {
	cursor: pointer;
}

label,
button {
	font-family: "Times New Roman", Times, serif;
}
